@marron-gris: #322D2A;
@gris-oscuro: #4F4440;
@metal: #4D5651;
@metal-claro: #627061;
@papiro:#F1E0AC;
@letra-grande:1.6em;
@letra-media:1.4em;
@letra-pequena:1em;
@letra-enana:0.8em;
@estandar: 'Cambo', serif;
@menu:  'Prosto One', cursive;
@titulos:  'Hammersmith One', sans-serif;

/* estilos generales*/
body {
  background-image: url('../imagenes/pattern.jpg'); 
  font-size: @letra-media;
  font-family: @estandar;
}

iframe{
  border:0em;
  width:100%;
  height:100%;
}
.activo{
  background-color:@gris-oscuro;
}
.clear{
  clear:both;
}
/* tamaño pequeño 1 columna */
@media all and (max-width: 40em){
  .tarifa{
    clear:both;
    width:100%;
  }
}
/* tamaño grande 2 columnas */
@media all and(min-width: 40em){
  .tarifa{
    text-align:justify;
    float:left;
    width:46%;
    margin:1.5%;
    td{
      padding-top:15px;
    }
  }
}
label{
  display:block;
  margin-top:15px;
}
form{
  margin-left:1%;
  input{
    font-size:@letra-grande;
    width:100%;
    max-width:500px;
    height:40px;
  }
  textarea{
    font-size:@letra-grande;
    width:100%;
    max-width:500px;
    height:80px;
    max-height:100px;
  }
}
dd{
  padding-left:20px;
  text-align:justify;
}
.fluid_container {
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
}
/* estilo pie */
footer{
  clear:both;
  padding:1.5%;
  padding-bottom:0px;
  width:100%;
  background-color:@marron-gris;
      color:@metal-claro;
    font-size:@letra-media;
  a{
    color:@metal;
    font-size:@letra-enana;
    text-decoration:none;
    &:hover{
      cursor:pointer;
      color:@papiro;
      
    }
  }
}
/* tamaño pequeño 1 columna*/
@media all and (max-width: 16em){
  #col1, #col2, #col3{
    width:100%;
    ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    li{
        font-size: @letra-media;
       a{
        font-size: @letra-enana;
        }
      }
    }
  }
  #col3 ul li{
    float:left;
    display:inline;
  }
}
/* tamaño grande 3 columnas */
@media all and (min-width: 16em){ 
  #col1, #col3{
    width:25%;
    float:left;
    margin:1%;
    ul{
      list-style-type:none;
      li{
        max-width:50%;
        a{
          font-family:@menu;
        }
      }
    }
  }
  #col2{
    width:40%;
    float:left;
    margin:1%;
    ul{
      list-style-type:none;
    }
  }

}
/* social media imagenes y posiciones*/
#col3{
  ul{
    li{
      .facebook, .vimeo, .twitter, .youtube{
         background-image: url("../imagenes/social.png");
         background-repeat:no-repeat;
         padding:30px;
         width:65px;
         height:65px;
         display:block;
         margin-bottom:5px;
         margin-left:5px;
      }
      
      .facebook{
         background-position: -10px -90px;
         &:hover{
            background-position: -10px -173px;
         }
         
      }
      .vimeo{
         background-position: -765px -95px;
          &:hover{
            background-position: -765px -178px;
          }
      }   
      .twitter{
         background-position: -682px -95px;
          &:hover{
            background-position: -682px -178px;
          }
      }
      .youtube{
         background-position: -850px -95px;
          &:hover{
            background-position: -850px -178px;
          }
      }
    }
  }
}


/* cambios bootstrap */

h1, h2, h3, h4{
  font-family:@titulos;
}
.container{
  margin-bottom:20px !important;
  max-width: 95% !important;
    p{
      text-align:justify;
    }
}
.container-fluid{
  background-color: @marron-gris;
  color:@metal-claro;
}
.navbar{
  border:none !important;
  margin-bottom:0px !important;
}
.navbar-brand{
  margin-top:-15px;
  margin-left:-12px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border:none !important;
}
.navbar-default .navbar-nav{
  li a{
  color:@metal-claro;
  margin-bottom: 0px !important;
  font-family: @menu;
    &:hover{
      color:@papiro;
    }
  }
}
/* tamaño medio para la letra del menu dispositivos menores de 760px */
@media (max-width: 47.5em){
  .navbar-default .navbar-nav{
    li a{
      font-size:@letra-media;
    }
  }
}
/* tamaño pequeño para la letra del menu dispositivos entre 760 y 940 para que no se descoloque */
@media (min-width: 47.5em) and (max-width: 58.75em){
  .navbar-default .navbar-nav{
    li a{
    font-size:@letra-pequena;
    }
  }
}
/* tamaño grande a partir de 940px */
@media (min-width: 58.75em){
  .navbar-default .navbar-nav{
    li a{
     font-size:@letra-grande;
    }
  }
}
.row{
  margin:0px !important;
  ol{
    li{
    text-align:justify ;
    }
  }
}