/* estilos generales*/
body {
  background-image: url('../imagenes/pattern.jpg');
  font-size: 1.4em;
  font-family: 'Cambo', serif;
}
iframe {
  border: 0em;
  width: 100%;
  height: 100%;
}
.activo {
  background-color: #4f4440;
}
.clear {
  clear: both;
}
/* tamaño pequeño 1 columna */
@media all and (max-width: 40em) {
  .tarifa {
    clear: both;
    width: 100%;
  }
}
/* tamaño grande 2 columnas */
@media all and (min-width: 40em) {
  .tarifa {
    text-align: justify;
    float: left;
    width: 46%;
    margin: 1.5%;
  }
  .tarifa td {
    padding-top: 15px;
  }
}
label {
  display: block;
  margin-top: 15px;
}
form {
  margin-left: 1%;
}
form input {
  font-size: 1.6em;
  width: 100%;
  max-width: 500px;
  height: 40px;
}
form textarea {
  font-size: 1.6em;
  width: 100%;
  max-width: 500px;
  height: 80px;
  max-height: 100px;
}
dd {
  padding-left: 20px;
  text-align: justify;
}
.fluid_container {
  margin: 0 auto;
  max-width: 1000px;
  width: 95%;
}
/* estilo pie */
footer {
  clear: both;
  padding: 1.5%;
  padding-bottom: 0px;
  width: 100%;
  background-color: #322d2a;
  color: #627061;
  font-size: 1.4em;
}
footer a {
  color: #4d5651;
  font-size: 0.8em;
  text-decoration: none;
}
footer a:hover {
  cursor: pointer;
  color: #f1e0ac;
}
/* tamaño pequeño 1 columna*/
@media all and (max-width: 16em) {
  #col1, #col2, #col3 {
    width: 100%;
  }
  #col1 ul, #col2 ul, #col3 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  #col1 ul li, #col2 ul li, #col3 ul li {
    font-size: 1.4em;
  }
  #col1 ul li a, #col2 ul li a, #col3 ul li a {
    font-size: 0.8em;
  }
  #col3 ul li {
    float: left;
    display: inline;
  }
}
/* tamaño grande 3 columnas */
@media all and (min-width: 16em) {
  #col1, #col3 {
    width: 25%;
    float: left;
    margin: 1%;
  }
  #col1 ul, #col3 ul {
    list-style-type: none;
  }
  #col1 ul li, #col3 ul li {
    max-width: 50%;
  }
  #col1 ul li a, #col3 ul li a {
    font-family: 'Prosto One', cursive;
  }
  #col2 {
    width: 40%;
    float: left;
    margin: 1%;
  }
  #col2 ul {
    list-style-type: none;
  }
}
/* social media imagenes y posiciones*/
#col3 ul li .facebook,
#col3 ul li .vimeo,
#col3 ul li .twitter,
#col3 ul li .youtube {
  background-image: url("../imagenes/social.png");
  background-repeat: no-repeat;
  padding: 30px;
  width: 65px;
  height: 65px;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}
#col3 ul li .facebook {
  background-position: -10px -90px;
}
#col3 ul li .facebook:hover {
  background-position: -10px -173px;
}
#col3 ul li .vimeo {
  background-position: -765px -95px;
}
#col3 ul li .vimeo:hover {
  background-position: -765px -178px;
}
#col3 ul li .twitter {
  background-position: -682px -95px;
}
#col3 ul li .twitter:hover {
  background-position: -682px -178px;
}
#col3 ul li .youtube {
  background-position: -850px -95px;
}
#col3 ul li .youtube:hover {
  background-position: -850px -178px;
}
/* cambios bootstrap */
h1,
h2,
h3,
h4 {
  font-family: 'Hammersmith One', sans-serif;
}
.container {
  margin-bottom: 20px !important;
  max-width: 95% !important;
}
.container p {
  text-align: justify;
}
.container-fluid {
  background-color: #322d2a;
  color: #627061;
}
.navbar {
  border: none !important;
  margin-bottom: 0px !important;
}
.navbar-brand {
  margin-top: -15px;
  margin-left: -12px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none !important;
}
.navbar-default .navbar-nav li a {
  color: #627061;
  margin-bottom: 0px !important;
  font-family: 'Prosto One', cursive;
}
.navbar-default .navbar-nav li a:hover {
  color: #f1e0ac;
}
/* tamaño medio para la letra del menu dispositivos menores de 760px */
@media (max-width: 47.5em) {
  .navbar-default .navbar-nav li a {
    font-size: 1.4em;
  }
}
/* tamaño pequeño para la letra del menu dispositivos entre 760 y 940 para que no se descoloque */
@media (min-width: 47.5em) and (max-width: 58.75em) {
  .navbar-default .navbar-nav li a {
    font-size: 1em;
  }
}
/* tamaño grande a partir de 940px */
@media (min-width: 58.75em) {
  .navbar-default .navbar-nav li a {
    font-size: 1.6em;
  }
}
.row {
  margin: 0px !important;
}
.row ol li {
  text-align: justify ;
}
